@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --background-color: #141414;
    --highlight-color: #00B625;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #2F4858;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

h1 {
    font-weight: 600;
    color: white;
    margin-top: 0.5rem;
}

h3 {
    margin-top: 1rem;
    font-weight: 700;
    color: #009CA9;
}

main {
    padding: 2rem 5rem 3rem 5rem;
}

main > div {
    display: flex;
    gap: 2rem;
    height: 33rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: inline-block;
    width: 10rem;
    font-size: 20px;
}

#calc-container {
    padding: 1rem;
    width: 18rem;
}

#calc-container > div{
    margin-top: 2rem;
}

#invested-result {
    color: #00A45E;
}

#interest-result{
    color: #00B625;
}

#canvas-container {
    flex: 1;
    justify-content: center;
    overflow-x: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


input {
    border: 1px solid var(--highlight-color);
}

button {
    width: 5rem;
    margin-top: 1rem;
    padding:5px 15px; 
    background: var(--highlight-color); 
    border: none;
    color: white;
    cursor:pointer;
    border-radius: 5px; 
    font-weight: 700;
}

footer {
    background-color: #2F4858;
    color: #c5c5c5;
    padding: 1rem;
    font-size: 14px;
}

@media (max-width: 768px) { 
    main {
        padding: 1rem 1rem 1rem 1rem;
    }

    main > div {
        flex-direction: column;
        height: 50rem;
        gap: 0;
    }

    #calc-container {
        align-self: center;
    }
    #calc-container > div{
        margin-top: none;
    }

    #canvas-container {
        box-shadow: none;
    }

    form, h3 {
        align-items: center;
        text-align: center;
    }

    h3 {
        font-size: 15px;
    }

    label {
        font-size: 20px;
        width: 12rem;
        text-align: center;
    }
}